.brand-buttons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .brand-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .brand-button:hover {
    background-color: #555;
  }
  
  