body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .site-name {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .nav-links button:hover {
    text-decoration: underline;
  }
  
  .search-auth-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search-container .search-btn {
    padding: 0.5rem;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .auth-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .auth-buttons .signup-btn,
  .auth-buttons .login-btn {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-buttons .login-btn {
    margin-right: 2rem; /* Aggiunge margine a destra */
  }
  
  .auth-buttons .signup-btn:hover,
  .auth-buttons .login-btn:hover {
    background-color: #0056b3;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Nasconde le nav links su tablet */
    }
  
    .search-auth-container {
      justify-content: space-between; /* Distribuisce gli elementi in modo omogeneo */
    }
  }
  